<div class="container-fluid mt-3">
  <div *ngIf="userData.connected; else registerForm" class="chat-box">
    <div class="row h-100">
      <div class="col-md-3 member-list p-0">
        <div class="list-header">Chats</div>
        <ul class="list-group">
          <li class="list-group-item" (click)="setActiveTab('CHATROOM')" [class.active]="tab === 'CHATROOM'">
            <i class="fas fa-comments"></i> Chatroom
          </li>
          <li class="list-group-item" *ngFor="let user of connectedUsers" (click)="setActiveTab(user)" [class.active]="tab === user">
            <i class="fas fa-user"></i> {{ user }}
          </li>
        </ul>
      </div>
      <div class="col-md-9 chat-content">
        <div class="chat-header">
          {{ tab === 'CHATROOM' ? 'Public Chatroom' : tab }}
        </div>
        <div class="chat-messages" *ngIf="tab === 'CHATROOM'; else privateChat">
          <div *ngFor="let chat of publicChats" class="message" [class.self]="chat.senderName === userData.username">
            <div class="message-content">
              <div *ngIf="chat.senderName !== userData.username" class="avatar">{{ chat.senderName[0] }}</div>
              <div class="message-data">
                <div class="sender-name" *ngIf="chat.senderName !== userData.username">{{ chat.senderName }}</div>
                <div class="message-text">{{ chat.message }}</div>
              </div>
              <div *ngIf="chat.senderName === userData.username" class="avatar self">{{ chat.senderName[0] }}</div>
            </div>
          </div>
        </div>
        <ng-template #privateChat>
          <div class="chat-messages">
            <div *ngFor="let chat of privateChats.get(tab)" class="message" [class.self]="chat.senderName === userData.username">
              <div class="message-content">
                <div *ngIf="chat.senderName !== userData.username" class="avatar">{{ chat.senderName[0] }}</div>
                <div class="message-data">
                  <div class="sender-name" *ngIf="chat.senderName !== userData.username">{{ chat.senderName }}</div>
                  <div class="message-text">{{ chat.message }}</div>
                </div>
                <div *ngIf="chat.senderName === userData.username" class="avatar self">{{ chat.senderName[0] }}</div>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="send-message">
          <div class="input-group">
            <input type="text" class="form-control input-message" placeholder="Type your message..." [(ngModel)]="userData.message">
            <button class="btn btn-primary send-button" (click)="tab === 'CHATROOM' ? sendMessage() : sendPrivateMessage()">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #registerForm>
    <div class="register">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to ChatApp</h5>
          <p class="card-text">Enter your name to join the conversation</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="user-name" placeholder="Your name" [(ngModel)]="userData.username">
            <button class="btn btn-primary" type="button" (click)="connect()">
              <i class="fas fa-sign-in-alt"></i> Join Chat
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
