option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:sa-east-1:034362037405:certificate/f6f349de-3543-4498-a23a-bd55525ecfef
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01

  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    Rules: '{"LoadBalancerPort":80,"Protocol":"HTTP","RedirectToPort":443,"RedirectToProtocol":"HTTPS","StatusCode":"HTTP_301"}'

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 443
    Protocol: HTTPS
    StickySessionsEnabled: true
    HealthCheckTimeout: 30
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    MatcherHTTPCode: 200

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /assets: assets

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  wsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      Description: "WebSocket"
      CidrIp: 0.0.0.0/0